.box img
{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.cities-f
{
	margin: 5px;
}
.icon-small
{
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #e67e22;
	font-size: 120%;
}
a.lin:link,
a.lin:visited
{
	color: #e67e22;
	text-decoration: none;  
	border-bottom: 1px solid #e67e22;
}
a.lin:hover,
a.lin:active
{
	color: #555;
	border-bottom: 1px solid transparent; 
}

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}